DataLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataLib/DataLib.v2.ncrunchproject
*.suo
*.dll
DataLib/bin/Debug/DataLib.dll.config
DataLib/bin/Debug/EntityFramework.SqlServer.xml
*.txt
DataLib/obj/Debug/DataLib.csprojResolveAssemblyReference.cache
DataLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HolidayCalendar.ncrunchsolution.user
HolidayCalendar/bin/Debug/DataLib.pdb
HolidayCalendar/Calendar.sln.DotSettings
HolidayCalendar/obj/Debug/App.baml
*.Cache
*.lref
HolidayCalendar/obj/Debug/GeneratedInternalTypeHelper.g.cs
*.config
*.baml
HolidayCalendar/obj/Debug/View/CalendarOverview.g.i.cs
HolidayCalendarTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.ps1
*.nupkg
*.transform
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
*.xml
*.psm1
packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/VS.psd1
*.manifest
packages/EntityFramework.6.1.3/tools/migrate.exe
*.psd1
packages/Microsoft.SqlServer.Compact.4.0.8876.1/SQLCE_EULA_ENU.rtf